/**********************
** Format smartphone **
***********************/

@font-face {
	font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Raleway-Bold';
    src: url('Raleway-Bold.ttf') format('truetype');
}
*{
	font-family: 'Raleway';
}
h1{
	font-size: 140%;
	font-family:'Raleway-Bold';
	font-weight: bolder;
}
h2{
	font-size: 120%;
	font-family:'Raleway-Bold';
	font-weight: bolder;	
}
a{
	text-decoration: none;
}
a:hover {
	font-style: italic;
	color: black;
}
a:-webkit-any-link{
	color: unset;
}
a.cliquable:hover {
	font-style: italic;
	position: relative ;
	bottom: 2px;
	left: 2px;
}
a.cliquable{
	display: block;
	width:100%;
	height:100%;
}
body{
	width: 100%;
	max-width: 430px;
	margin-left: auto;
	margin-right: auto;
}
main{
	width: 100%;
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
/*********
** Tête **
**********/
#logo{
	margin-top: 10px;
	width: 120px;
	height: 50px;
}
div.head{
	text-align: center;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.head :nth-child(2) { order: 3; }
div#pages{
    width: 100%;
}
ul#nav{
    margin-left: 0px;
    display: flex;
    list-style: none;
    font-weight: bold;
	padding-inline-start: 0px;
}
#nav li{
    padding-bottom: 15px;
    width: 50%;
	text-align: center;
	border-bottom: 4px solid #F2F2F2;
}
#nav li.active{
    padding-bottom: 12px;
	border-bottom: 4px solid #0065FC;
	color: #0065FC;
}
span.insc{
    color: #0065FC;
    font-weight: bold;
    height: 70px;
    width: 60%;
    padding-top: 33px;
    text-align: right;
}
/*champs recherche*
*******************/
#loupe{
    display: block;
	line-height: 17px;
}
#rechercher{
    display: none;
}
#boutonRechercher{
	color: white;
	font-weight: bold;
	background-color: #0065FC;
	border-radius: 15px 15px 15px 15px;
	margin-left: -15px;
	padding: 19px;
	border: 0px;	
}
ul#RechVille{
	list-style: none;
	display: flex;
	padding-inline-start: unset;
}
#iconeRecherche{	
	color: black;
	background-color: #F2F2F2;
	border-radius: 15px 0px 0px 15px;
	width: 20px;
	padding: 20px;
	line-height: 17px;
}
#champRecherche{
	font-family:'Raleway-Bold';
	font-weight: bolder;
	font-size: 110%;
	border: 3px solid #F2F2F2;
	width: 100%;
	padding: 15px;
}
/*Filtres*
**********/
span.filtres{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
#lesFiltres{
	padding: 15px;
}
#choix{
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	align-items: center;	
}
span.filtre{
	text-align: center;
	font-weight: bold;
	border-radius: 45px;
	border:4px solid #F2F2F2;
	margin-left: 10px;
	margin-bottom: 7px;
	height: 48px;
}
span.filtre:hover{
	background-color: #DEEBFF;
}
.icone{
	position: relative;
	right: 5px;
	bottom: 3px;
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 50%;
   	padding-left: 17px;
	padding-right: 17px;
	padding-top: 17px;
	padding-bottom: 17px;
}
.iconeEco{
	position: relative;
	right: 5px;
	bottom: 3px;
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 50%;
   	padding-left: 15px;
	padding-right: 15px;
	padding-top: 17px;
	padding-bottom: 17px;
}
.iconeFam{
	position: relative;
	right: 5px;
	bottom: 3px;
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 150%;
   	padding-left: 19px;
	padding-right: 19px;
	padding-top: 17px;
	padding-bottom: 17px;
}
span.nomFiltre{
	font-family:'Raleway-Bold';
	font-weight: bold;
	position: relative;
	bottom: 3px;
	padding-right: 19px;
}
.nb{
	display: flex;
	align-content: flex-start;
	height: 50px;
	border-top: 20px;
}
#info{
	height: 20px;
	color:#0065FC;
	border:3px solid #F2F2F2;
	border-radius: 50px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	margin-right: 15px;

}/*étoiles*/
.bleue{
	color:#0065FC;
}
.grise{
	color: #F2F2F2;	
}
/***************
**Populaires****
***************/
#stat{
	font-size: 25px;
	margin-top: 20px;
}
#stat:hover {
	font-style: italic;
}
.cliquablePopu{
	display: block;
	width: 100%;
	margin: 5px;
}
.cliquablePopu:hover{
	font-style: italic;
	position: relative ;
	bottom: 2px;
	left: 2px;
}
.populaireVille{
	background-color: #F2F2F2;
	border:5px solid white;
	overflow: auto;
}
div#titre{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
.listPopu{	
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	padding-bottom: 30px;
}
figure.populaires{
	display: inline-block;
	position: relative;
	justify-content: left;
	background-color: white;
	border-radius: 25px;
	border:6px solid white;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	height: 150px;
	width: 95%;
	overflow: hidden;
	box-shadow:0px 0px 50px -40px;
}
figure.populaires img{
	position: absolute;
	object-fit: cover;
	height: 150px;
	width: 135px;
}
figcaption.textNoteDescipPopu{
	position: absolute;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 160px;
	height: 130px;
}
/***************
**Hébergements**
***************/
section#ville{
    display: flex;
    flex-direction: column-reverse;
}
.heberVille{
    padding: 5%;
    overflow: auto;
}
.listeSpots{	
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
figure.hebergements{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 25px;
	border:5px solid white;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	height: 200px;
	width: 95%;
	overflow: hidden;
    box-shadow:0px 20px 50px -40px;
}
figure.hebergements img{
	position: absolute;
    object-fit: cover;
	width: 400px;
	height: 125px;
}
figcaption.descripHeber{
	position: absolute;
	bottom: 0px;
	padding: 5px;
	margin: 0%;
}
.nomHeber{
	display: inline-block;
	margin-bottom: 5px;
	font-size: 110%;
	font-weight: bolder;
}
/************
**Activités**
*************/
#activitesVille{
	padding: 2%;
}
.cliquableActi{	
	display: block;
	width: 95%;
	margin: 5px;
}
.cliquableActi:hover{
	font-style: italic;
	position: relative ;
	bottom: 2px;
	left: 2px;
}
.listActiv{
	display: flex;
	flex-flow: column wrap;
	align-content:space-around;
	overflow: auto;
}
.activite1, .activite2, .activite3, .activite4, .activite5{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 100%;
	height: 180px;
	box-shadow:0px 20px 50px -40px;
	overflow: hidden;
}
.activite1 img, .activite2 img, .activite3 img, .activite4 img, .activite5 img{
	position: absolute;
    object-fit: cover;
    width: 400px;
    height: 140px;
}
figcaption.nomActi{
	position: absolute;
	padding: 5px;
	font-weight: bolder;
	bottom: 5px;
}
/*******
**Pied**
********/
div#pied{
	background-color: #F2F2F2;
	justify-content: space-evenly;
    margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}
li.type{
	font-weight: bold;
	list-style: none;
	padding-bottom: 10px;
}
li.page{
	list-style: none;
}