/********************
**** Format ordi ***
*********************/

@font-face {
	font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
}
*{
	font-family: 'Raleway';
	font-size: 102%;	
}
h1{
	margin-left: 30px;
	font-size: 130%;
	font-weight:1000;	
}
h2{
	font-size: 120%;
	font-weight:900;	
}
a{
	text-decoration: none;
}
a:-webkit-any-link{
	color: unset;
}
a:hover {
	font-style: italic;
}

/*******
**Tête**
********/
.head{
	position: relative;
	margin-left: 1%;
	display: flex;
	flex-direction: row;
}
#logo{
	width: 150px;
	height: 70px;
}
div#pages{
	width: 77%;
	display: flex;
	justify-content: right;
}
ul#nav{
	width: 33%;
	height: 70px;
	list-style: none;
	display: flex;
	font-weight: bold;
	padding-inline-start: unset;
}
#nav li{
	width: 50%;
	padding-top: 33px;
	text-align: center;
}
#nav li.active{
	border-top: 3px solid #0065FC;
	color: #0065FC;
	padding-top: 30px;	
}
span.insc{
	color: #0065FC;
	width: 13%;
	height: 70px;
	margin-top: 18px;
	padding-top: 33px;
	text-align: center;
}
/*champs recherche*
*******************/
.trouver{
    margin-left: 0px;
}
#recherche{
	padding-left: 5px;
}

#loupe{
	display: none;
}
ul#RechVille{
	list-style: none;
	display: flex;
	padding-inline-start: unset;
}
#iconeRecherche{	
	color: black;
	background-color: #F2F2F2;
	border-radius: 15px 0px 0px 15px;
	padding: 18px;
	line-height:21px;
}
#champRecherche{
	font-weight: bold;
	border: 3px solid #F2F2F2;
	padding: 15px;
}
#boutonRechercher{
	color: white;
	font-weight: bold;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
	padding: 18px;
	border: 0px;	
}
/*Filtres*/

div.filtres{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
#lesFiltres{
	padding: 15px;
	text-align: center;
}
#choix{
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	align-items: center;	
}
span.filtre{
	font-weight: bold;
	border-radius: 45px;
	border:3px solid #F2F2F2;
	margin-left: 10px;
}
span.filtre:hover{
	background-color: #DEEBFF;
}
.icone{
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 50%;
   	padding-left: 17px;
	padding-right: 17px;
	padding-top: 17px;
	padding-bottom: 17px;
}
.iconeEco{
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 50%;
   	padding-left: 15px;
	padding-right: 15px;
	padding-top: 17px;
	padding-bottom: 17px;
}
.iconeFam{
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 150%;
   	padding-left: 19px;
	padding-right: 19px;
	padding-top: 17px;
	padding-bottom: 17px;
}
span.nomFiltre{
	padding-right: 19px;
}
.nb{
	align-items: center;
	height: 50px;
	border-top: 20px;
}
#info{
	color:#0065FC;
	border:2px solid #F2F2F2;
	border-radius: 50px;
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 3px;
	padding-left: 9px;

}/*étoiles*/
.bleue{
	color:#0065FC;
}
.grise{
	color: #F2F2F2;	
}
/***************
**Hébergements**
***************/
a.cliquable{
	display: block;
	margin: 5px;
}
a.cliquable:hover{
	font-style: italic;
	position: relative ;
	bottom: 2px;
	left: 2px;
}
section#ville{
	display: flex;
	justify-content: space-between;
}
.heberVille{
	background-color: #F2F2F2;
	border:5px solid white;
	border-radius: 30px;
	width: 60%;
	padding: 2%;
	overflow: auto;
}
.listeSpots{		
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
figure.hebergements{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	border:5px solid white;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	height: 200px;
	width: 270px;
	overflow: hidden;
}
figure.hebergements img{
	position: absolute;
	object-fit: cover;
	width: 300px;
	height: 125px;
}
figcaption.descripHeber{
	position: absolute;
	bottom: 0px;
	padding: 5px;
	margin: 0%;
}
.nomHeber{
font-weight: bolder;
}
/***************
**Populaires****
***************/
#stat:hover {
	font-style: italic;
}
.cliquablePopu{
	display: block;
	width: 100%;
	margin: 5px;
}
.cliquablePopu:hover{
	font-style: italic;
	position: relative ;
	bottom: 2px;
	left: 2px;
}

.populaireVille{
	background-color: #F2F2F2;
	border:5px solid white;
	border-radius: 30px;
	width: 30%;
	padding: 2%;
	overflow: auto;
}
div#titre{
	display: flex;
	justify-content: space-between;
}

.listPopu{
	height: 88%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
figure.populaires{
	display: inline-block;
	position: relative;
	justify-content: left;
	background-color: white;
	border-radius: 30px;
	border:5px solid white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0%;
	height: 80%;
	max-height: 170px;
	width: 100%;
	max-width: 400px;
	overflow: hidden;
}
figure.populaires img{
	position: absolute;
	object-fit: cover;
	height: 100%;
	width: 135px;
}
figcaption.textNoteDescipPopu{
	position: absolute;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	padding-left: 150px;
	height: 100%;
	
}
/************
**Activités**
*************/
#activitesVille{
	padding: 2%;
}
.cliquableActi{	
	display: block;
	width: 23%;
	margin: 5px;
}
.cliquableActi:hover{
	font-style: italic;
	position: relative ;
	bottom: 2px;
	left: 2px;
}
.listActiv{
	display: flex;
	flex-flow: column wrap;
	align-content:space-around;
	height: 600px;
	overflow: auto;
}
figure.activite1{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 100%;
	height: 500px;
	box-shadow:0px 20px 50px -40px;
	overflow: hidden;
}
figure.activite1 img{	
	position: absolute;
	object-fit: cover;
	width: 450px;
	height: 450px;
}
figure.activite2{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 100%;
	height: 270px;
	box-shadow:0px 20px 50px -40px;
	overflow: hidden;
}
figure.activite2 img{
	position: absolute;
	object-fit: cover;
	width: 450px;
	height: 220px;
}
figure.activite3{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 30px 30px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 100%;
	height: 200px;
	box-shadow:0px 20px 50px -40px;
	overflow: hidden;
}
figure.activite3 img{
	position: absolute;
	object-fit: cover;
	width: 450px;
	height: 150px;
}
figure.activite4{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 100%;
	height: 250px;
	box-shadow:0px 20px 50px -40px;
	overflow: hidden;
}
figure.activite4 img{
	position: absolute;
	object-fit: cover;
	width: 450px;
	height: 200px;
}
figure.activite5{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 100%;
	height: 220px;
	box-shadow:0px 20px 50px -40px;
	overflow: hidden;
}
figure.activite5 img{
	position: absolute;
	object-fit: cover;
	width: 450px;
	height: 170px;
}
figcaption.nomActi{
	position: absolute;
	padding: 5px;
	font-weight: bolder;
	bottom: 5px;
}
/*******
**Pied**
********/
div#pied{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-evenly;
	height: 180px;
	padding-top: 30px;
}
li.type{
	font-weight: bold;
	list-style: none;
	padding-bottom: 10px;
}
li.page{
	list-style: none;
}

