@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
	}
         
*{
	font-family: 'Raleway';		
	}
.head{
	display: flex;
	flex-direction: row;
	justify-content:space-between;	
	}
#logo{
	width: 60px;
	height: 30px;
	}
ul{
	list-style-type: none;
	}	
 ul.head{
	display: flex;
	flex-direction: row;
	justify-content:space-between;

	
	}
i{
	border-radius: 30px;
	color: rgb(14, 14, 238);
	background-color: grey;
}
#ville{
	font-weight: bold;
}
.recherche{
	height: 180px;
	flex-direction :column;
 	justify-content:space-between;
}

#rechercher{
	font-weight: bold;
}

.filtres{
	display: flex;
	justify-content: space-around;
}
