/*********************
*** Format tablette **
**********************/

@font-face {
	font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
}
h1{
    color: red;
    font-size: 130%;
    font-weight:1000;	
}
*{
	font-family: 'Raleway';
	font-size: large;	
}
a:hover {
	font-style: italic;
}
main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
/**********
*** Tête **
***********/
#logo{
	width: 150px;
	height: 70px;
}
.head{
	margin-left: 1%;
	display: flex;
	flex-direction: row;
}
div#pages{
    width: 50%;
    display: flex;
    justify-content: right;
}
ul#nav{
    width: 60%;
    height: 70px;
    list-style: none;
    display: flex;
    font-weight: bold;
}
#nav li{
	width: 150px;
	padding-top: 33px;
	height: 70px;
	text-align: center;
}
#nav li.active{
	border-top: 3px solid #0065FC;
	color: #0065FC;
	padding-top: 30px;	
}
span.insc{
	color: #0065FC;
	width: 13%;
	height: 70px;
	margin-top: 18px;
	padding-top: 33px;
	text-align: center;
}
/*champs recherche*
*******************/

#boutonRechercher{
	color: white;
	font-weight: bold;
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
	padding: 18px;
	border: 0px;	
}
#loupe{
	display: none;
}

/*recherche de ville*/

ul#RechVille{
	list-style: none;
	display: flex;
}
#iconeRecherche{	
	color: black;
	background-color: #F2F2F2;
	border-radius: 15px 0px 0px 15px;
	padding: 18px;
	line-height:21px;
}
#champRecherche{
	font-weight: bold;
	border: 3px solid #F2F2F2;
	padding: 15px;
}
/*Filtres*/

div.filtres{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
#lesFiltres{
	padding: 15px;
	text-align: center;
}
#choix{
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	align-items: center;	
}
span.filtre{
	font-weight: bold;
	border-radius: 45px;
	border:3px solid #F2F2F2;
	margin-left: 10px;
}
span.filtre:hover{
	background-color: #DEEBFF;
}
.icone{
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 50%;
   	padding-left: 17px;
	padding-right: 17px;
	padding-top: 17px;
	padding-bottom: 17px;
}
.iconeEco{
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 50%;
   	padding-left: 15px;
	padding-right: 15px;
	padding-top: 17px;
	padding-bottom: 17px;
}
.iconeFam{
	color: #0065FC;
	background-color: #DEEBFF;
    border-radius: 150%;
   	padding-left: 19px;
	padding-right: 19px;
	padding-top: 17px;
	padding-bottom: 17px;
}
span.nomFiltre{
	padding-right: 19px;
}
.nb{

	border-top: 20px;
}
#info{
	color:#0065FC;
	border:2px solid #F2F2F2;
	border-radius: 50px;
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 3px;
	padding-left: 9px;

}/*étoiles*/
.bleue{
	color:#0065FC;
}
.grise{
	color: #F2F2F2;	
}
/***************
**Hébergements**
***************/

.heberVille{
    background-color: #F2F2F2;
	border: 5px solid white;
    border-radius: 30px;
    padding: 5%;
    overflow: auto;
}
.listeSpots{	
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
figure.hebergements{
	position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	border:5px solid white;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	height: 200px;
	width: 270px;
	overflow: hidden;
}
figure.hebergements img{
	position: absolute;
	width: 300px;
	height: 125px;
}
figcaption.descripHeber{
	position: absolute;
	bottom: 0px;
	padding: 5px;
	margin: 0%;
}
.nomHeber{
	font-weight: bolder;
}
/***************
**Populaires****
***************/
.populaireVille{
	background-color: #F2F2F2;
	border:5px solid white;
	border-radius: 30px;
	padding: 2%;
	overflow: auto;
}
div#titre{
	display: flex;
	justify-content: space-between;
}

.listPopu{	
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
figure.populaires{
	display: inline-block;
	position: relative;
	justify-content: left;
	background-color: white;
	border-radius: 30px;
	border:5px solid white;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 0%;
	margin-bottom: 0%;
	height: 140px;
	width: 370px;
	overflow: hidden;
}
figure.populaires img{
	position: absolute;
	height: 140px;
	width: 135px;
}
figcaption.textNoteDescipPopu{
	position: absolute;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	padding-left: 140px;
	height: 140px;
	
}
div.textDescripPopu{


}
/************
**Activités**
*************/
section#activitesVille{
	height: 600px;
	margin-top: 10px;
	padding: 30px;
}
.listActiv{
	display: flex;
	flex-flow: column wrap;
	height: 600px;
	overflow: auto;


}
figure.activite1{
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 300px;
	height: 500px;
	box-shadow:0px 20px 50px -40px;
}
figure.activite1 img{
	border-radius: 30px 30px 0 0;
	width: 300px;
	height: 450px;
}
figure.activite2{
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 300px;
	height: 270px;
	box-shadow:0px 20px 50px -40px;
}
figure.activite2 img{
	border-radius: 30px 30px 0 0;
	width: 300px;
	height: 220px;
}
figure.activite3{
	justify-content: center;
	background-color: white;
	border-radius: 30px 30px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 300px;
	height: 200px;
	box-shadow:0px 20px 50px -40px;
}
figure.activite3 img{
	border-radius: 30px 30px 0 0;
	width: 300px;
	height: 150px;
}
figure.activite4{
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 300px;
	height: 260px;
	box-shadow:0px 20px 50px -40px;
}
figure.activite4 img{
	border-radius: 30px 30px 0 0;
	width: 300px;
	height: 210px;
}
figure.activite5{
	justify-content: center;
	background-color: white;
	border-radius: 30px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	width: 300px;
	height: 220px;
	box-shadow:0px 20px 50px -40px;
}
figure.activite5 img{
	border-radius: 30px 30px 0 0;
	width: 300px;
	height: 170px;
}
figcaption.nomActi{
	padding: 5px;
	font-weight: bolder;
}
/*******
**Pied**
********/
div#pied{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-evenly;
	height: 180px;
	padding-top: 30px;
}
li.type{
	font-weight: bold;
	list-style: none;
	padding-bottom: 10px;
}
li.page{
	list-style: none;
}