@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
	}
         
*{
	font-family: 'Raleway';
	font-size: large;		
	}
.head{
	margin-left: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}
table.nav{
	width: 33%;
	height: 70px;
	}

td.heber{
	border-top: 3px solid rgb(16, 108, 246);
	color:  rgb(16, 108, 246);
	width: 33%;
	height: 70px;
	text-align: center;
	}
td.acti{	
	width: 33%;
	height: 70px;
	text-align: center;
	}	
td.insc{
	color:  rgb(16, 108, 246);
	width: 33%;
	height: 70px;
	text-align: center;
	}
#logo{
	width: 100px;
	height: 60px;
	}
main{
	margin-left: 1%;
}
h1{
	font-size: larger;
	font-weight: 1400;
	}

form#RechVille{
	padding: 18px;
}

#iconeRecherche{	
	color: black;
	background-color: rgb(221, 221, 221);
	border-radius: 15px 0px 0px 15px;
	padding: 18px;
}
#champRecherche{
	font-weight: bold;
	border: 3px solid rgb(221, 221, 221);
	padding: 15px;
}
#boutonRechercher{
	color: white;
	font-weight: bold;
	background-color: rgb(16, 108, 246);
	border-radius: 0px 15px 15px 0px;
	padding: 18px;
	border: 0px;
	
}

div.filtre{
	border-radius: 30px;
	border:1px solid grey;
}
.filtres{
	display: flex;
	justify-content: space-around;
}
/*div.section1{
	background-color: rgb(199, 195, 195);
	border: radius 30px;
	display: flex;
}
#heberMar{
	background-color: rgb(199, 195, 195);
	border-radius: 30px;

}

figure.hebergements{
	background-color: white;
	border-radius: 30px;
	padding: 5px;
	width: 100px;

}
figure.hebergements img{
	border-radius: 30px 30px 0 0;
	width: 200px;
}
.liste-spots{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}*/
